<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="{% static 'Weather/css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #E0FFFF">
    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true"
             class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>SSN company</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Weather in the World
                </h1>
            </div>
        </div>
    </section>
        <marquee direction="right">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201134/covalco-pristan-avtostrada-a758e50.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://f.vividscreen.info/soft/c6ef67ea932de8b40226a5bb06c150aa/San-Diego-Skyline-1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300" hspace="0" vspace="5">
            <img src="https://s2.best-wallpaper.net/wallpaper/1280x1024/1410/Chicago-water-reflection-buildings-river-dusk-clouds_1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="http://www.v3wall.com/wallpaper/1280_1024/1407/1280_1024_20140716101435949632.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201250/vid-krasivo-kartinka-cdbdaf3.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201134/covalco-pristan-avtostrada-a758e50.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://f.vividscreen.info/soft/c6ef67ea932de8b40226a5bb06c150aa/San-Diego-Skyline-1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300" hspace="0" vspace="5">
            <img src="https://s2.best-wallpaper.net/wallpaper/1280x1024/1410/Chicago-water-reflection-buildings-river-dusk-clouds_1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="http://www.v3wall.com/wallpaper/1280_1024/1407/1280_1024_20140716101435949632.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201250/vid-krasivo-kartinka-cdbdaf3.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201134/covalco-pristan-avtostrada-a758e50.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://f.vividscreen.info/soft/c6ef67ea932de8b40226a5bb06c150aa/San-Diego-Skyline-1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300" hspace="0" vspace="5">
            <img src="https://s2.best-wallpaper.net/wallpaper/1280x1024/1410/Chicago-water-reflection-buildings-river-dusk-clouds_1280x1024.jpg"  class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://www.desktopbackground.org/download/1280x1024/2010/06/04/27930_chicago-illinois-usa-wallpapers_1920x1200_h.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="http://www.v3wall.com/wallpaper/1280_1024/1407/1280_1024_20140716101435949632.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
            <img src="https://wallbox.ru/resize/1280x1024/wallpapers/main/201250/vid-krasivo-kartinka-cdbdaf3.jpg" class="img-thumbnail" alt="weather" width="500" height="300">
        </marquee>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-5 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <ul type="disk">
                    <h4><li>Interesting cities:</li></h4>
                    <h5> <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%BC%D0%B0-%D0%90%D1%82%D0%B0"> <li>Almaty</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A8%D1%8B%D0%BC%D0%BA%D0%B5%D0%BD%D1%82"> <li>Shymkent</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9D%D1%83%D1%80-%D0%A1%D1%83%D0%BB%D1%82%D0%B0%D0%BD"> <li>Nur-Sultan</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D1%80%D0%B0%D0%B7"> <li>Taraz</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D1%85%D0%B0%D1%81"> <li>Texas</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%BB%D0%B4%D1%8B%D0%BA%D0%BE%D1%80%D0%B3%D0%B0%D0%BD"> <li>Taldykorgan</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%94%D1%83%D0%B1%D0%B0%D0%B9"> <li>Dubai</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D1%80%D0%B0%D0%B3%D0%B0%D0%BD%D0%B4%D0%B0"> <li>Karagandy</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BD%D0%B4%D0%BE%D0%BD"> <li>London</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D0%BA%D0%B8%D0%BE"> <li>Tokyo</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B4%D0%B0%D1%80"> <li>Pavlodar</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D1%81-%D0%92%D0%B5%D0%B3%D0%B0%D1%81"> <li>Las Vegas</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%B4%D0%BD%D0%B5%D0%B9"> <li>Sydney</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%B9%D0%B0%D0%BC%D0%B8"> <li>Miami</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BB%D0%B0%D1%83"> <li>Palau</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA"> <li>New York</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BD%D0%B5%D1%86%D0%B8%D1%8F"> <li>Venice</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%BD-%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%81%D0%BA%D0%BE"> <li>San Francisco</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D0%B4%D0%B0%D0%BF%D0%B5%D1%88%D1%82"> <li>Budapest</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BD%D0%BA%D0%BE%D0%BD%D0%B3"> <li>Hong Kong</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%B0%D0%BC%D0%B1%D1%83%D0%BB"> <li>Istanbul</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/Chicago_(%D0%B3%D1%80%D1%83%D0%BF%D0%BF%D0%B0)"> <li>Chicago </li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A8%D0%B0%D0%BD%D1%85%D0%B0%D0%B9"> <li>Shanghai</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%BC%D1%83%D0%B9"> <li>Chawen</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D1%80%D0%B8%D0%B6"> <li>Paris</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B5%D0%B9%D0%BF%D1%82%D0%B0%D1%83%D0%BD"> <li>Cape town</li> </a>
                    <a href="https://ru.wikipedia.org/wiki/%D0%A8%D0%B0%D0%BD%D1%85%D0%B0%D0%B9"> <li>Shanghai</li> </a></h5>
                </ul>
                <div class="column is-offset-3 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <center>
            <h6><div>The spirit of invention and innovative thinking have distinguished SSN since its inception. The company, established in 2019, accurately provides all the necessary weather data in a convenient and beautiful way. Support the young developers!</div></h6>
            <h6><div>Qiwi: +7 777 000 66 77</div></h6>
        </center>
    </footer>

</body>
</html>